#elementCountRange, #sortSpeedRange {
    margin-left: 1%;
    margin-right: 1%;
    width: 12%;
}

#sortExecuteButton, #randomizeElementsButton {
    margin-left: 1%;
    margin-right: 1%;
}

.custom-navigation-label-padding {
    padding-left: 1%;
    padding-right: 1%;
}
